{% extends "admin/change_form.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'admin/js/admin/FormHandlers.js' %}"></script>
    {{ form.media }}
    {{ media.js }}
{% endblock %}
{% block content %}
{{ form }}
{{ block.super }}
{% endblock %}

