{% extends "admin/base.html" %}
{% load static %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
<script type="text/javascript" src="{% static 'admin/js/custom_admin.js' %}"></script>
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Учет закупок и склада') }}{% endblock %}
{{ block.super }}
{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Учет закупок и склада') }}</a></div>
{% endblock %}

{% block usertools %}
{% if has_permission %}
<div id="user-tools">
    {% block welcome-msg %}
        {% trans 'Пользователь:' %}
        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
        <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
            {% csrf_token %}
            <button type="submit">{% translate 'Log out' %}</button>
        </form>
    {% endblock %}
</div>
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}


