{% extends "admin/change_list.html" %}
{% load static %}
{% block content %}
    <div class="module">
        <form method="post" action="" style="display: flex; align-items: center;">
            {% csrf_token %}
            <div style="display: flex; align-items: center;">
                <label for="{{ form.department.id_for_label }}" style="margin-right: 10px;">Новое подразделение:</label>
                {{ form.department }}
                <input type="submit" value="Добавить" class="default" style="margin-left: 10px;" />
            </div>
        </form>
            {{ form.department.errors }}
            {{ form.non_field_errors }}
    </div>
    {{ block.super }}
{% endblock %}
