{% extends "admin/change_list.html" %}
{% load static %}
{% block extrahead %}
    {{ form.media }}
    <script type="text/javascript" src="{% static 'admin/js/admin/AddNames.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="module">
        <form method="post" action="" style="display: flex; align-items: center;" id="#add-form">
            {% csrf_token %}
            <div style="display: flex; align-items: center; height: 36px;">
                <label for="{{ form.name.id_for_label }}" style="margin-right: 10px;">{{ form.name.label }}</label>
                {{ form.name }}
                <input type="submit" value="Добавить" class="default" style="margin-left: 10px; min-height: 36px; height: 36px;" />
            </div>
        </form>
        {{ form.name.errors }}
        {{ form.non_field_errors }}
    </div>
    {{ block.super }}

{% endblock %}
