{% extends "admin/change_list.html" %}
{% load static %}
{% block extrahead %}
    {{ form.media }}
    <script type="text/javascript" src="{% static 'admin/js/admin/AutoFields.js' %}"></script>
<!--    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>-->
{% endblock %}
{% block content %}
    <div class="module">
        <form method="post" action="" style="display: flex; align-items: center;">
            {% csrf_token %}
            {% for field in form %}
                <div class="one_line_input_block">
                    <label for="{{ field.id_for_label }}" style="margin-right: 10px;">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Добавить" class="default"/>
        </form>
        <div id="form-errors">
            {{ form.name.errors }}
            {{ form.non_field_errors }}
        </div>
    </div>
    {{ block.super }}
{% endblock %}

