{% load custom_filters %}
{% block content %}
<div id="table_head">{{ table_head }}</div>
<table>
    <thead>
        <tr>
            {% for verbose_name in verbose_names %}
                <th>{{ verbose_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for obj in result_list %}
            <tr>
                {% for field in cl.list_display %}
                    <td>
                    {% if obj|has_attr:field %}
                        {% with value=obj|get_attr:field %}
                            {% if value|callable %}
                                {{ value|call_with_arg:obj }}
                            {% else %}
                                {{ value|safe }}
                            {% endif %}
                        {% endwith %}
                    {% elif cl.model_admin|has_attr:field %}
                        {% with method=cl.model_admin|get_attr:field %}
                            {% if method %}
                                {{ method|call_with_arg:obj }}
                            {% else %}
                                —
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        —
                    {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
