{% if field.name == 'product_image' %}
<td class="t_row img_cell">
    <a href="#" class="remove_image_button" {% if not field.value %}style="display: none;"{% endif %}>X</a>
    <div class="image_preview_container">
        <img class="image_preview" src="{% if field.value %}{{ field.value.url }}{% endif %}"
             alt="Превью изображения" {% if not field.value %}style="display: none;"{% endif %}>
    </div>
    <div class="image_paste_area" contenteditable="true"></div>
    <div class="image_paste_area_bg" {% if field.value %}style="display: none;"{% endif %}>файл: двойной клик<br>вставить: Ctrl+V</div>
    <input type="file" name="{{ form.prefix }}-{{ field.name }}" accept="image/*" class="product_image" id="{{ field.id_for_label }}">
    {% if field.value %}<input type="checkbox" name="{{ form.prefix }}-{{ field.name }}-clear" id="{{ form.prefix }}-{{ field.name }}-clear_id" style="display: none;">{% endif %}
</td>
{% elif "_id" not in field.name %}
    <td class="t_row">{{ field }}
        <div class="error-field">
            {{ field.errors }}
        </div>
    </td>
{% else %}
{{ field }}
{% endif %}
