{% extends "admin/change_list.html" %}
{% load static %}
{% block extrahead %}
    {{ form.media }}
<!--    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>-->
{% endblock %}
{% block content %}
    <div class="module">
        <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
                <div class="custom_input_block">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}

            <input type="submit" value="Добавить" class="default" />
        </form>

        <div id="form-errors">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
            {{ form.non_field_errors }}
        </div>
    </div>
    {{ block.super }}
{% endblock %}
