{% extends "admin/change_list.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    {{ form.media }}

    <script src="{% static 'admin/js/admin/MultiRowsImgPaste.js' %}"></script>
    {% if not is_popup %}
        <script src="{% static 'admin/js/admin/ProductsBatchPaste.js' %}"></script>
    {% endif %}
    <script src="{% static 'admin/js/admin/AutoFields.js' %}"></script>
    {{ media.js }}
    <script src="{% static 'admin/js/admin/FormHandlers.js' %}"></script>

{% endblock %}
{% block content %}
<script type="text/javascript">
    var formFields = {{ form_fields_json|safe }};
    var filePreviews = {% if file_previews %} {{ file_previews|safe }} {% else %} {} {% endif %};
    if (filePreviews) {
        Object.keys(filePreviews).forEach(function(fieldName) {
            const previewPath = filePreviews[fieldName];
            // Логика отображения превью файлов
            console.log(`Превью файла для ${fieldName}: ${previewPath}`);
        });
    }
</script>
{% include "admin/table_form.html" %}
{{ block.super }}
{% endblock %}
