{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    {{ form.media }}
    <script src="{% static 'admin/js/admin/MultiRowsImgPaste.js' %}"></script>
    <script src="{% static 'admin/js/admin/AutoFields.js' %}"></script>
    {{ media.js }}
    {% if not is_popup %}
        <script src="{% static 'admin/js/admin/ProductsBatchPaste.js' %}"></script>
    {% endif %}
    <script src="{% static 'admin/js/admin/ErrorsDispatcher.js' %}"></script>

{% endblock %}
{% block content %}
<script type="text/javascript">
  var formFields = {{ form_fields_json|safe }};
</script>
{% include "admin/table_form.html" %}
{% endblock %}
