{% extends "admin/change_form.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/admin/AutoFields.js' %}"></script>
    {% if not is_popup %}
        <script src="{% static 'admin/js/admin/ProductsBatchPaste.js' %}"></script>
    {% endif %}
    <script src="{% static 'admin/js/admin/FormHandlers.js' %}"></script>
    <script src="{% static 'admin/js/admin/MultiRowsImgPaste.js' %}"></script>
    {{ form.media }}
{% endblock %}
{% block content %}
<script type="text/javascript">
    var formFields = {{ form_fields_json|safe }};
    var filePreviews = {% if file_previews %} {{ file_previews|safe }} {% else %} {} {% endif %};
    if (filePreviews) {
        Object.keys(filePreviews).forEach(function(fieldName) {
            const previewPath = filePreviews[fieldName];
            console.log(`Превью файла для ${fieldName}: ${previewPath}`);
        });
    }
</script>
<input type="hidden" id="tmp" class="add">
{% include "admin/table_form.html" %}
{% endblock %}
