:root {
    --primary: #999;
    --secondary: #333;
    --breadcrumbs-bg: #666;
    --hairline-color: #e8e8e8;
}

#id_near_products, #id_reason {
    width: 100%;
    max-width: 274px;
}

#id_department, #id_name {
    padding: 9px 6px;
    margin-top: 1px;
}

thead th, tfoot td {
    border: 1px solid var(--hairline-color);
    text-transform: none;
}

header, nav {
    position: stick;
    z-index: 1000;
}

.full-cell-link {
    cursor: pointer;
}
.full-cell-link:hover {
    background-color: #eee; /* Опционально: эффект при наведении */
}

/* Управление горизонтальным скроллингом */
#main {
    overflow-x: auto;
    padding-right: 40px;
}
