/*! jQuery UI - v1.14.1 - 2024-11-14
* https://jqueryui.com
* Copyright OpenJS Foundation and other contributors; Licensed MIT */

:root {
    --primary: #999;
    --secondary: #333;
    --breadcrumbs-bg: #666;
    --hairline-color: #e8e8e8;
    --default-button-bg: #3f6689;
    --alarm-bg: #ba2121;
    --accent: #95901d;
}

#site-name {
    height: 40px;
    max-width: 100%;
    vertical-align: middle;
    margin-top: 0px !important;
}

body, input, textarea, select, .form-row p, label, form .button {
    font-size: 1rem !important;
}

body.popup {
    width: fit-content;
    height: fit-content;
}

input[type="file"] {
    font-size: 1em !important;
}


form.one_line {
    display: flex;
    align-items: center;
}

form.one_line input[type="submit"]{
    padding: 7px 15px;
    margin-top: 0px;
}


.one_line_input_block {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.one_line_input_block label{
    margin-right: 10px;
}

li, dt, dd {
    font-size: 1rem;
    line-height: 1.5rem;
}

ul li {
    list-style-type: none;
    padding 0;
}

#id_near_products, #id_reason {
    width: 100%;
    max-width: 274px;
}

.rel_field {
    min-height: 28px;
    padding: 5px 6px;
    margin-top: 0;
    min-width: 320px;
}

.rel_field a{
    margin-top: 0;
}

thead th, tfoot td {
    border: 1px solid var(--hairline-color);
    text-transform: none;
}

input.default {
    text-transform: capitalize !important;
}

#site-name a, #site-name a:visited {
    color: #eee;
    }

header, nav {
    position: stick;
    z-index: 1000;
}

.custom_list_apps {
    cursor: pointer;
}

.full-cell-link:hover, .custom_list_apps:hover {
    background-color: #eee;
}

.t_row {
    cursor: pointer;
    align-items: center;
    border-radius: 0px !important;
    text-transform: none;
}

.t_row label {
    font-size: 0.75rem !important;
    font-weight: 500;
    text-align: left;
    padding: 5px !important;
    margin: 0px !important;
}


.table-container {
    width: 100%;
    overflow-x: auto;
}

/* Таблица */
.table-row-form {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* Заголовки и ячейки */
.table-row-form th,
.table-row-form td {
    min-width: 70px;
    width: 100%;
    word-wrap: break-word;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    text-align: left;
}

.error-field {display: none;}


.table-row-form th, .t_row th{
    height: 30px;
    align-content: center;
 }

 .t_row p.date { padding: 0; margin: 0}

.t_row.img_cell {
    position: relative;
    height: 50px;
}
.image_paste_area {
    line-height: 50px;
    position: absolute;
    top: 1px;
    text-align: center;
    height: 50px;
    width: 100%;
    z-index: 2;
    }

.image_paste_area_bg {
    border: 1px dashed #ccc;
    padding: 10px;
    text-align: center;
    margin-top: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    height: 30px;
    width: -webkit-fill-available;
    }

.image_paste_area img {
    height: 50px;
}

.image_preview {
  max-height: 50px;
  margin: 0 auto;
}

.image_preview_container {
   display: flex;
   max-height: 50px;
}

.remove_image_button{
    margin-top: -3px;
}

.related-widget-wrapper {
    display: flex;
}

.product_image{
    display:none;
}

.add-related {
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: 30px;
}

.add-related img {
    width: 20px;
    height: 20px;
}

td ul.errorlist{
    padding: 5px;
    font-size: 0.75rem;
}

ul.errorlist li {
    font-size: 0.75rem;
}

.results.table-row-form th label {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: flex-center; /* Выравнивание по левому краю */
    margin-bottom: 10px; /* Отступ под текстом лейбла */
}

.results.table-row-form input,
.results.table-row-form select{
    min-width: 70px; /* Минимальная ширина столбца */
    width: 100%;  /* Макс ширина по минимальному содержимому */
    height: 50px;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 0;
    border: none;
    min-height: 28px;
}

/* Заголовки */
.results.table-row-form th {
    background-color: #f2f2f2; /* Цвет фона заголовков */
    padding-left: 10px;
}

/* кнопка добавить под именем пользователя */
.object-tools {
    display: none;
    font-size: 0.625rem;
    font-weight: bold;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -37px;
    margin-right: 40px;
}

.object-tools a.addlink {
    background-image: url(../img/tooltag-add.svg);
    background-color: var(--default-button-bg);
    color: var(--breadcrumbs-fg);
    padding-right: 20px;
    border: 1px solid var(--breadcrumbs-fg);
}
.object-tools a.addlink:hover {
    background-color: #000;
}

.under_table, #errors_viewer {
    margin-top:20px;
}
.submit-row {
    display: inline-flex;
}

#errors_viewer, .error-row {
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--alarm-bg);
    padding-left: 30px;
}

.submit-row .second{
    margin-left: 15px;
}

.submit-row .default:hover{
    background-color: #95901d;
}
.submit-row .second:hover{
    background-color: var(--alarm-bg);
}
.submit-row .second:hovered{
    background-color: #000;
}

/* Управление горизонтальным скроллингом */
#main {
    overflow-x: auto;
}


.ui-selectable {
	touch-action: none;
}
.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
	pointer-events: none;
}


/* Icons
----------------------------------*/
.ui-icon {
	display: inline-block;
	vertical-align: middle;
	margin-top: -.25em;
	position: relative;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ui-widget-icon-block {
	left: 50%;
	margin-left: -8px;
	display: block;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
    z-index: 1000; /* Приоритет для выпадающего списка */
    max-height: 200px; /* Высота списка */
    overflow-y: auto; /* Вертикальный скролл */
    overflow-x: hidden; /* Отключаем горизонтальный скролл */
    border: 1px solid #ccc; /* Граница */
    background-color: white; /* Фон */
    padding: 5px; /* Отступы внутри */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень */
    border-radius: 4px; /* Закругленные углы */
}
.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: 0;
}
.ui-menu .ui-menu {
	position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0;
	cursor: pointer;
}
.ui-menu-item {
    font-size: 0.75rem;
}
.ui-menu .ui-menu-item-wrapper {
	position: relative;
	padding: 6px 1em 6px .4em;
}
.ui-menu .ui-menu-divider {
	margin: 6px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: -1px;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item-wrapper {
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: .2em;
	margin: auto 0;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	left: auto;
	right: 0;
}
.ui-selectmenu-menu {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.ui-selectmenu-menu .ui-menu {
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 1px;
}
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
	
	line-height: 1.5;
	padding: 6px 0.4em;
	margin: 0.5em 0 0 0;
	height: auto;
	border: 0;
}
.ui-selectmenu-open {
	display: block;
}
.ui-selectmenu-text {
	display: block;
	margin-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-selectmenu-button.ui-button {
	text-align: left;
	white-space: nowrap;
	width: 14em;
}
.ui-selectmenu-icon.ui-icon {
	float: right;
	margin-top: 0;
}
.ui-button {
	padding: .4em 1em;
	display: inline-block;
	position: relative;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
}

.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
	text-decoration: none;
}

/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
	width: 2em;
	box-sizing: border-box;
	text-indent: -9999px;
	white-space: nowrap;
}

/* no icon support for input elements */
input.ui-button.ui-button-icon-only {
	text-indent: 0;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
}

.ui-button.ui-icon-notext .ui-icon {
	padding: 0;
	width: 2.1em;
	height: 2.1em;
	text-indent: -9999px;
	white-space: nowrap;

}

input.ui-button.ui-icon-notext .ui-icon {
	width: auto;
	height: auto;
	text-indent: 0;
	white-space: normal;
	padding: .4em 1em;
}

/* workarounds */
/* Support: Firefox 5 - 125+ */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Component containers
----------------------------------*/

.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #dddddd;
	background: #e9e9e9;
	color: #333333;
	
}
.ui-widget-header a {
	color: #333333;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	color: #454545;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
	color: #454545;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 1px solid #cccccc;
	background: #ededed;
	color: #2b2b2b;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
	color: #2b2b2b;
	text-decoration: none;
}

.ui-visual-focus {
	box-shadow: 0 0 3px 1px rgb(94, 158, 214);
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	background: #c4dce8;
	color: #000;
}
.ui-icon-background,
.ui-state-active .ui-icon-background {
	background-color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #000;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #dad55e;
	background: #fffa90;
	color: #777620;
}
.ui-state-checked {
	border: 1px solid #dad55e;
	background: #fffa90;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #777620;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #f1a899;
	background: #fddfdf;
	color: #5f3f3f;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #5f3f3f;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #5f3f3f;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	background-image: none;
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}


/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 3px;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa;
	opacity: .3;
}
.ui-widget-shadow {
	box-shadow: 0px 0px 5px #666666;
}
