{% extends "admin/change_list.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <form method="post" action="">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Ссылка</th>
                        <th>Комментарий</th>
                        <th>Ед.изм</th>
                        <th>Количество</th>
                        <th>Шифр проекта</th>
                        <th>Шифр изделия</th>
                        <th>Изображение</th>
                        <th>Дата заполнения</th>
                        <th>Ответственный</th>
                        <th>Куда везем</th>
                        <th>Требуемая дата</th>
                        <th>Ожидаема дата</th>
                        <th>Поставщик</th>
                        <th>Номер счета</th>
                        <th>Статус закупки</th>
                        <th>Документы</th>
                        <th>Дата факт. поставки</th>
                        <th>Фактич. кол-во</th>
                        <th>Сорудник</th>
                        <th>Причина возврата</th>
                        <th>Адрес ячейки</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                {% if page_obj %}
                    {% for row in page_obj %}
                        <tr>
                            <td>{{ row.Product_Name }}</td>
                            <td>{{ row.Product_Link }}</td>
                            <td>{{ row.Order_About }}</td>
                            <td>{{ row.Packaging_Unit }}</td>
                            <td>{{ row.Order_Quantity }}</td>
                            <td>{{ row.Project_Code }}</td>
                            <td>{{ row.Detail_Code }}</td>
                            <td>{{ row.Product_Image }}</td>
                            <td>{{ row.Request_Date }}</td>
                            <td>{{ row.Responsible_Employee }}</td>
                            <td>{{ row.Delivery_Location }}</td>
                            <td>{{ row.Deadline_Delivery_Date }}</td>
                            <td>{{ row.Waiting_Date }}</td>
                            <td>{{ row.Supplier_Name }}</td>
                            <td>{{ row.Invoice_Number }}</td>
                            <td>{{ row.Delivery_Status }}</td>
                            <td>{{ row.Documents }}</td>
                            <td>{{ row.Record_Date }}</td>
                            <td>{{ row.Movie_Quantity }}</td>
                            <td>{{ row.Employee }}</td>
                            <td>{{ row.Return_To_Supplier_Reason }}</td>
                            <td>{{ row.Cell_Address }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">Проблема загрузки данных</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <input type="hidden" id="next-page" value="2">
        </form>
    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
    <script type="text/javascript" src="{% static 'admin/js/custom_admin.js' %}"></script>
    <script type="text/javascript">
        function loadMoreData(page) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '?page=' + page, true);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var tableBody = document.getElementById('table-body');
                    tableBody.innerHTML += xhr.responseText;
                }
            };
            xhr.send();
        }
        window.onscroll = function() {
            if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight) {
                var nextPage = parseInt(document.getElementById('next-page').value, 10);
                loadMoreData(nextPage);
                document.getElementById('next-page').value = nextPage + 1;
            }
        };
    </script>
{% endblock %}
