{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Сводная таблица</h1>
    <table class="table">
        <thead>
            <tr>
                <th class="product_name">№</th>
                <th class="product_name">Наименование</th>
                <th class="product_link">Ссылка на сайт</th>
                <th class="product_image">Изображение</th>
                <th class="request_about">Комментарий</th>
                <th class="packaging_unit">Единицы измерения</th>
                <th class="request_quantity">Заказ / Кол-во</th>
                <th class="project_code">Код проекта</th>
                <th class="detail_name">Изделие</th>
                <th class="detail_code">Шифр изделия</th>
                <th class="request_date">Дата заполнения</th>
                <th class="responsible_employee">Ответственный заполнитель</th>
                <th class="delivery_location">Куда везем</th>
                <th class="deadline_delivery_date">Требуемая дата поставки</th>
                <th class="waiting_date">Планируемая дата поставки</th>
                <th class="has_on_storage">Наличие на складе</th>
                <th class="order_complete">Заказ оформлен</th>
                <th class="supplier_name">Поставщик</th>
                <th class="invoice_number">Номер счета</th>
                <th class="delivery_status">Доставлен / неполная доставка</th>
                <th class="not_delivered_pcs">Не доставлено, кол-во</th>
                <th class="document_flow">Документооборот</th>
                <th class="documents">Документы</th>
                <th class="supply_date">Дата фактического поступления</th>
                <th class="supply_quantity">Факт поставки, кол-во</th>
                <th class="given_quantity">Выдано, кол-во</th>
                <th class="given_employee">Выдано кому</th>
                <th class="given_date">Дата выдачи</th>
                <th class="stock_quantity">Остаток, шт</th>
                <th class="cell_address">Адрес ячейки</th>
                <th class="refund_quantity">Возврат поставщику кол-во</th>
                <th class="refund_reason">Причина возврата</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td class="product_name">item.id</td>
                <td class="product_name">item.product_name</td>
                <td class="product_link">item.product_link</td>
                <td class="product_image"><img src="{{ item.product_image.url }}" alt="{{ item.product_name }}"><td>
                <td class="request_about">item.request_about</td>
                <td class="packaging_unit">item.packaging_unit</td>
                <td class="request_quantity">item.request_quantity</td>
                <td class="project_code">item.project_code</td>
                <td class="detail_name">item.detail_name</td>
                <td class="detail_code">item.detail_code</td>
                <td class="request_date">item.request_date</td>
                <td class="responsible_employee">item.responsible_employee</td>
                <td class="delivery_location">item.delivery_location</td>
                <td class="deadline_delivery_date">item.deadline_delivery_date</td>
                <td class="waiting_date">item.waiting_date</td>
                <td class="has_on_storage">item.has_on_storage</td>
                <td class="order_complete">item.order_complete</td>
                <td class="supplier_name">item.supplier_name</td>
                <td class="invoice_number">item.invoice_number</td>
                <td class="delivery_status">item.delivery_status</td>
                <td class="not_delivered_pcs">item.not_delivered_pcs</td>
                <td class="document_flow">item.document_flow</td>
                <td class="documents">item.documents</td>
                <td class="supply_date">item.supply_date</td>
                <td class="supply_quantity">item.supply_quantity</td>
                <td class="given_quantity">item.given_quantity</td>
                <td class="given_employee">item.given_employee</td>
                <td class="given_date">item.given_date</td>
                <td class="stock_quantity">item.stock_quantity</td>
                <td class="cell_address">item.cell_address</td>
                <td class="refund_quantity">item.refund_quantity</td>
                <td class="refund_reason">item.refund_reason</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
