{% extends "admin/base_site.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <form method="post" action="">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Ссылка</th>
                        <th>Комментарий</th>
                        <th>Ед.изм</th>
                        <th>Количество</th>
                        <th>Шифр проекта</th>
                        <th>Шифр изделия</th>
                        <th>Изображение</th>
                        <th>Дата заполнения</th>
                        <th>Ответственный</th>
                        <th>Куда везем</th>
                        <th>Требуемая дата</th>
                        <th>Ожидаема дата</th>
                        <th>Поставщик</th>
                        <th>Номер счета</th>
                        <th>Статус закупки</th>
                        <th>Документы</th>
                        <th>Дата факт. поставки</th>
                        <th>Фактич. кол-во</th>
                        <th>Сорудник</th>
                        <th>Причина возврата</th>
                        <th>Адрес ячейки</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                {% if page_obj %}
                    {% for row in page_obj %}
                        <tr>
                            <td>{{ row.Product_Name }}</td>
                            <td>{{ row.Product_Link }}</td>
                            <td>{{ row.Order_About }}</td>
                            <td>{{ row.Packaging_Unit }}</td>
                            <td>{{ row.Order_Quantity }}</td>
                            <td>{{ row.Project_Code }}</td>
                            <td>{{ row.Detail_Code }}</td>
                            <td>{{ row.Product_Image }}</td>
                            <td>{{ row.Request_Date }}</td>
                            <td>{{ row.Responsible_Employee }}</td>
                            <td>{{ row.Delivery_Location }}</td>
                            <td>{{ row.Deadline_Delivery_Date }}</td>
                            <td>{{ row.Waiting_Date }}</td>
                            <td>{{ row.Supplier_Name }}</td>
                            <td>{{ row.Invoice_Number }}</td>
                            <td>{{ row.Delivery_Status }}</td>
                            <td>{{ row.Documents }}</td>
                            <td>{{ row.Record_Date }}</td>
                            <td>{{ row.Movie_Quantity }}</td>
                            <td>{{ row.Employee }}</td>
                            <td>{{ row.Return_To_Supplier_Reason }}</td>
                            <td>{{ row.Cell_Address }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">Проблема загрузки данных</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <input type="hidden" id="next-page" value="2">
        </form>
    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{% static 'admin/js/custom_admin.js' %}"></script>
    <script type="text/javascript">
        function loadMoreData(page) {
            $.ajax({
                url: '?page=' + page,
                type: 'get',
                success: function(data) {
                    console.log('Data loaded:', data);
                    $('#table-body').append(data);
                },
                error: function(xhr, status, error) {
                    console.error('Error loading data:', status, error);
                }
            });
        }

        $(document).ready(function() {
            $(window).scroll(function() {
                if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                    var nextPage = $('#next-page').val();
                    loadMoreData(nextPage);
                    $('#next-page').val(parseInt(nextPage) + 1);
                }
            });
        });
    </script>
{% endblock %}
